{% extends 'main.html' %}
{% load static %}

    {% block title %}
        Achievements
   {% endblock title %}
    {% block css %}
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/bvs school bg.png' %}">
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <!-- owl carousel -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
        <!-- mean menu css -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
        <!-- main style -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <!-- responsive -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    {% endblock css %}

    {% block content %}
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img width="60px" src="{% static 'assets/img/bvs school bg.png' %}" alt="school-logo">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a style="text-decoration: none;" href="/">Home</a></li>
								<li><a style="text-decoration: none;" href="/about">About</a></li> 
								<li><a style="text-decoration: none;" href="/blog">Blog</a></li>
								<li><a style="text-decoration: none;" href="/contact">Contact</a></li>
								<li><a style="text-decoration: none;" href="/staff">Staff</a><li></li>
							</ul>
						</nav>
						
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Indian Institute of Education, Honnali</p>
						<h1>Our Achievements</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->



	<!-- team section -->
	<div class="mt-150 students">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Students</span></h3>
						<p>SSLC students who scored the highest mark in the examination</p>
						<h4 class="mt-5 orange-text">BVS English Medium High School</h4>
					</div>
				</div>
			</div>

			<div class="row mb-5">
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Abhishek K S (2006-07) <span>Mark : 568</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Shahabaaj Ahamed(2007-08) <span>Mark : 558</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Sandeep S Keroodi(2007-08) <span>Mark : 558</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-4"></div>
						<h4>Chethan L(2008-9) <span>Mark : 572</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-5"></div>
						<h4>Deepak H N(2009-10) <span>Mark : 551</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-6"></div>
						<h4>Shwetha(2010-11) <span>Mark : 597</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-7"></div>
						<h4>Nivedita(2011-12) <span>Mark : 574</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-8"></div>
						<h4>Swati K(2012-13) <span>Mark : 593</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-9"></div>
						<h4>Vikas V(2013-14) <span>Mark : 597</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-10"></div>
						<h4>Charitha K N(2014-15) <span>Mark : 607</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-11"></div>
						<h4>Sharath R(2015-16) <span>Mark : 605</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-12"></div>
						<h4>Sneha K B(2016-17) <span>Mark : 613</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-13"></div>
						<h4>Raghavendra D M(2017-18) <span>Mark : 610</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-14"></div>
						<h4>Rupashree K K(2018-19) <span>Mark : 585</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-15"></div>
						<h4>Srinidhi M Patil(2019-20) <span>Mark : 610</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-16"></div>
						<h4>Nitya B A(2020-21) <span>Mark : 607</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-17"></div>
						<h4>Dhanushree S P(2021-22) <span>Mark : 623</span></h4>
					</div>
				</div>
            </div>

            <div class="row mb-5">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h4 class="mt-5 orange-text">Bharatiya Vidyasamste Kannada High School</h4>
					</div>
				</div>
            </div>

            <div class="row mb-5">
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-18"></div>
						<h4>Kalashree(2012-13) <span>Mark : 477</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-19"></div>
						<h4>Abhishek K(2013-14) <span>Mark : 527</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-20"></div>
						<h4>Devika S(2014-15) <span>Mark : 534</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-21"></div>
						<h4>Veena S(2015-16) <span>Mark : 521</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-22"></div>
						<h4>Channesh B M(2017-18) <span>Mark : 576</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-23"></div>
						<h4>Pavitra T M(2018-19) <span>Mark : 543</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-24"></div>
						<h4>Chandana R(2019-20) <span>Mark : 517</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-25"></div>
						<h4>Pavitra H N(2020-21) <span>Mark : 568</span></h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-26"></div>
						<h4>Suprita(2021-22) <span>Mark : 595</span></h4>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end team section -->

    <!-- Carousel Controls -->
    
    <div id="carouselExampleDark" class="carousel carousel-dark slide d-md-none">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Our <span class="orange-text">Students</span></h3>
                    <p>SSLC students who scored the highest mark in the examination</p>
                    <h4 class="mt-5 orange-text">BVS English Medium High School</h4>
                </div>
            </div>
        </div>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="11" aria-label="Slide 12"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="12" aria-label="Slide 13"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="13" aria-label="Slide 14"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="14" aria-label="Slide 15"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="15" aria-label="Slide 16"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="16" aria-label="Slide 17"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-17"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Dhanushree S P</span><span class="text-bg-primary"> (2021-22)</span></h5>
              <span class="text-bg-success">Mark : 623</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-16"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Nitya B A</span><span class="text-bg-primary"> (2020-21)</span></h5>
              <span class="text-bg-success">Mark : 607</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-15"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Srinidhi M Patil</span><span class="text-bg-primary"> (2019-20)</span></h5>
              <span class="text-bg-success">Mark : 610</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-14"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Rupashree K K</span><span class="text-bg-primary"> (2018-19)</span></h5>
              <span class="text-bg-success">Mark : 585</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-13"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Raghavendra D M</span><span class="text-bg-primary"> (2017-18)</span></h5>
              <span class="text-bg-success">Mark : 610</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-12"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Sneha K B</span><span class="text-bg-primary"> (2016-17)</span></h5>
              <span class="text-bg-success">Mark : 613</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-11"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Sharath R</span><span class="text-bg-primary"> (2015-16)</span></h5>
              <span class="text-bg-success">Mark : 605</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-10"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Charitha K N</span><span class="text-bg-primary"> (2014-15)</span></h5>
              <span class="text-bg-success">Mark : 607</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-9"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Vikas V</span><span class="text-bg-primary"> (2013-14)</span></h5>
              <span class="text-bg-success">Mark : 597</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-8"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Swati K</span><span class="text-bg-primary"> (2012-13)</span></h5>
              <span class="text-bg-success">Mark : 593</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-7"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Nivedita</span><span class="text-bg-primary"> (2011-12)</span></h5>
              <span class="text-bg-success">Mark : 574</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-6"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Shwetha</span><span class="text-bg-primary"> (2010-11)</span></h5>
              <span class="text-bg-success">Mark : 597</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-5"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Deepak H N</span><span class="text-bg-primary"> (2009-10)</span></h5>
              <span class="text-bg-success">Mark : 551</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-4"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Chethan L</span><span class="text-bg-primary"> (2008-9)</span></h5>
              <span class="text-bg-success">Mark : 572</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-3"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Sandeep S Keroodi</span><span class="text-bg-primary"> (2007-08)</span></h5>
              <span class="text-bg-success">Mark : 558</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-2"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Shahabaaj Ahamed</span><span class="text-bg-primary"> (2007-08)</span></h5>
              <span class="text-bg-success">Mark : 558</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-1"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Abhishek K S</span><span class="text-bg-primary"> (2006-07)</span></h5>
              <span class="text-bg-success">Mark : 527</span>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- End of Carousel Controls -->

    <!-- Carousel Controls -->
    
    <div id="carouselExampleDar" class="carousel carousel-dark slide d-md-none mb-80">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h4 class="mt-5 orange-text">Bharatiya Vidyasamste Kannada High School</h4>
                </div>
            </div>
        </div>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-26"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Suprita</span><span class="text-bg-primary"> (2021-22)</span></h5>
              <span class="text-bg-success">Mark : 595</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-25"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Pavitra H N</span><span class="text-bg-primary"> (2020-21)</span></h5>
              <span class="text-bg-success">Mark : 568</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-24"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Chandana R</span><span class="text-bg-primary"> (2019-20)</span></h5>
              <span class="text-bg-success">Mark : 517</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-23"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Pavitra T M</span><span class="text-bg-primary"> (2018-19)</span></h5>
              <span class="text-bg-success">Mark : 543</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-22"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Channesh B M</span><span class="text-bg-primary"> (2017-18)</span></h5>
              <span class="text-bg-success">Mark : 576</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-21"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Veena S</span><span class="text-bg-primary"> (2015-16)</span></h5>
              <span class="text-bg-success">Mark : 521</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-20"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Devika S</span><span class="text-bg-primary"> (2014-15)</span></h5>
              <span class="text-bg-success">Mark : 534</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-19"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Abhishek K</span><span class="text-bg-primary"> (2013-14)</span></h5>
              <span class="text-bg-success">Mark : 527</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-18"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Kalashree</span><span class="text-bg-primary"> (2012-13)</span></h5>
              <span class="text-bg-success">Mark : 477</span>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="10000">
            <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 team-bg team-bg-18"></div>
            <div class="carousel-caption">
              <h5><span class="text-bg-danger">Vikas V</span><span class="text-bg-primary"> (2013-14)</span></h5>
              <span class="text-bg-success">Mark : 597</span>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDar" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDar" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <!-- End of Carousel Controls -->


<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p><p>Indian Institute of Education, Honnali</p>
						<p>B.V.S. Pre Primary School</p>
						<p>Bharatiya Kannada Senior Primary School</p> 
						<p>B.V.S. English Medium High School</p> 
						<p>Indian Institute Kannada High School</p>
						</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>Santhe Maidana, Honnali, Karnataka 577217</li>
						<li>Email: bkhpshonnali@gmail.com | b.v.s.honnali1987@gmail.com</li>
						<li>Ph: 08188-252331</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages"> 
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a style="text-decoration: none;" href="/">Home</a></li>
						<li><a style="text-decoration: none;" href="/about">About</a></li>
						<li><a style="text-decoration: none;" href="/staff">Staff</a></li>
						<li><a style="text-decoration: none;" href="/blog">Blog</a></li>
						<li><a style="text-decoration: none;" href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="/">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"><a style="text-decoration: none;" href="http://b.v.s.honnali1987@gmail.com"></a></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2019 - <a />BVS High School</a>,  All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->

{% endblock content %}


{% block script %}
<!-- jquery -->
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'assets/js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock script %}

