{% extends 'main.html' %}
{% load static %}

    {% block title %}
        About
   {% endblock title %}
    {% block css %}
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/bvs school bg.png' %}">
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
        <!-- bootstrap -->
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <!-- owl carousel -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
        <!-- mean menu css -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
        <!-- main style -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <!-- responsive -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    {% endblock css %}

    {% block content %}
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img width="60px" src="{% static 'assets/img/bvs school bg.png' %}" alt="school-logo">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="/" style="text-decoration: none;">Home</a></li>
								<li class="current-list-item"><a href="/about" style="text-decoration: none;">About</a></li>
								<li><a href="/blog" style="text-decoration: none;">Blog</a></li>
								<li><a href="/contact" style="text-decoration: none;">Contact</a></li>
								<li><a href="/staff" style="text-decoration: none;">staff</a><li></li>
							</ul>
						</nav> 
						
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Indian Institute of Education, Honnali</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- team section -->
	<div class="mt-80 mb-100">
		<div class="container">
			<p class="top-sub">My life is My Message <span class="orange-text">-said by Mahatma Gandhi</span></p>
			<p>
				Supham, established in 1987, represents a beacon of educational excellence and community service. Founded by the visionary Chairman Shri D.R. Siddappa and the dynamic Founder Secretary Shri Ravi Bhargava, the institution's journey unfolds as a compelling narrative of dedication to quality education in the Kannada medium.
				Senior Gandhian retired engineer Shri L.S. played a pivotal role, guiding Supham under the watchful eyes of Vaishyas, office bearers, and elders. The celebration of the silver festival marked a significant milestone, symbolized by the grand inauguration of the "Rajata Mahotsava Bhavan," a testament to Supham's impact on the city and taluk.
				Adapting to changing educational dynamics, Supham expanded its offerings in 2009, introducing both English and Kannada medium high schools. This strategic move showcased Supham's commitment to providing diverse educational pathways while making substantial contributions to high school education in the region.
				Central to Supham's success is its dedicated community of over 130 lifetime members, representing diverse walks of life. Their selfless service, expressed through time, effort, and financial contributions, has been instrumental in shaping Supham's identity as an institution that goes beyond academic achievements.
				Kumari Dhanushree S.P.'s exceptional academic accomplishment, scoring 623 marks, stands as a testament to Supham's commitment to excellence. Her success exemplifies the institution's core belief that education should transcend mere grades, emphasizing the empowerment of students with knowledge and skills beyond traditional academic boundaries.
				Supham's teaching staff, distinguished by their skill and creativity, embody the institution's child-centered approach to education. The emphasis on holistic development aligns with the philosophy that success is a continuous journey, not a destination. This ethos underscores Supham's ongoing efforts to mold future citizens who are not only academically proficient but also socially responsible.
				Under the leadership of Dr. H.P. Raj Kumar, serving as the Secretary, Supham continues to blaze trails in education. The institution's proactive approach to extracurricular activities underscores its commitment to providing a comprehensive educational experience. Supham places a premium on nurturing knowledgeable individuals, recognizing that true success lies in the holistic development of its students.
				In essence, Supham emerges as a transformative force in education, seamlessly integrating academic excellence with community service and holistic development. The founders, members, and leadership have collectively shaped an institution that not only imparts knowledge but also instills values, contributing significantly to the creation of a better future for its students and society at large.
			</p>
			<p class="col-lg-12" style="display: flex; justify-content: end;" ><span class="orange-text">- Dr. H.P. Raj Kumar</span> (Secretary)</p>
		</div>
	</div>
	<!-- end team section -->

	<!-- slogan -->
	<div class="col-lg-8 offset-lg-2 mt-80">
		<div class="mb-5 ">	
			<h4><span class="orange-text">Let Us remember:</span> One book, One pen, One child and One teacher can change the world </h4>
			<b><span class="orange-text">-Malala Yusafzai</span></b>
		</div>
	</div>
<!-- end slogan -->

<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="{% static 'assets/img/1.jpg' %}" alt="">
						<b><p>students learning through play</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/2.jpg' %}" alt="">
						<b><p>Students in good use of library</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/3.jpg' %}" alt="">
						<b><p>Teaching through smart classrooms to perpetuate learning</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/4.jpg' %}" alt="">
						<b><p>Children washing their hands in queue</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/5.jpg' %}" alt="">
						<b><p>A board for displaying students creations</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/6.jpg' %}" alt="">
						<b><p>Distribution of fruits, eggs and milk</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/7.jpg' %}" alt="">
						<b><p>Row dinner</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/8.jpg' %}" alt="">
						<b><p>various activities on saturday's</p></b>
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/9.jpg' %}" alt="">
						<b><p>yoga class everyday led by Shri Prakash Hebbar</p></b>
					</div>
					<div class="single-logo-item">
						<img  src="{% static 'assets/img/10.jpg' %}" alt="">
						<b><p>The students complained to the local authorities about the loss of water and got relief.</p></b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p><p>Indian Institute of Education, Honnali</p>
						<p>B.V.S. Pre Primary School</p>
						<p>Bharatiya Kannada Senior Primary School</p> 
						<p>B.V.S. English Medium High School</p> 
						<p>Indian Institute Kannada High School</p>
						</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>Santhe Maidana, Honnali, Karnataka 577217</li>
						<li>Email: bkhpshonnali@gmail.com | b.v.s.honnali1987@gmail.com</li>
						<li>Ph: 08188-252331</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages"> 
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a style="text-decoration: none;" href="/" style="text-decoration: none;">Home</a></li>
						<li><a style="text-decoration: none;" href="/about">About</a></li>
						<li><a style="text-decoration: none;" href="/staff">Staff</a></li>
						<li><a style="text-decoration: none;" href="/blog">Blog</a></li>
						<li><a style="text-decoration: none;" href="/contact">Contact</a></li>
					</ul> 
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="/">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"><a style="text-decoration: none;" href="http://b.v.s.honnali1987@gmail.com"></a></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2019 - <a />BVS High School</a>,  All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a style="text-decoration: none;" href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->

{% endblock content %}


{% block script %}
<!-- jquery -->
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'assets/js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock script %}

